body {
  margin: 0;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
}
main {
  width: 100vw;
  height: 100vh;
  background: #333;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
.container {
  background: #3f040e;
  max-width: 400px;
  padding: 25px 35px;
  text-align: center;
  border-radius: 20px;
}
.container :nth-child(2) {
  margin: 25px 0;
}
#progress {
  width: 100%;
  margin: 40px 0;
}

.controlBtns {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  align-items: center;
  flex-wrap: wrap;
}
button {
  color: #333;
  padding: 10px;
  width: 80px;
  font-weight: bolder;
  font-size: large;
}
button:hover {
  background-color: darkslategray;
  color: chocolate;
}

img {
  border-radius: 50%;
  width: 220px;
  height: 220px;
  line-height: 40px;
  object-fit: scale-down;
  border: 8px solid #fff;
  animation-name: revolve;
  animation-duration: 70s;
  animation-direction: reverse;
  animation-iteration-count: infinite;
}

@keyframes revolve {
  from {
    border-color: aqua;
    transform: rotate(1080deg);
  }
  to {
    border-color: black;
  }
}
.shuffled {
  background-color: #3f040e;
  color: chocolate;
}
