* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
}
main {
  width: 100%;
  height: 100vh;
  background: #333;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
.container {
  background: #3f040e;
  width: 400px;
  padding: 25px 35px;
  text-align: center;
  border-radius: 20px;
}
.container :nth-child(2) {
  margin: 25px 0;
}
#progress {
  width: 100%;

  margin: 40px 0;
}

.controlBtns {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
button {
  color: #333;
  padding: 10px;
  width: 70px;
  font-weight: bolder;
  font-size: large;
}
button:hover {
  background-color: darkslategray;
  color: chocolate;
}
